body {
    background: black}

  
  .text-small {
    color: white;
    font-size: 30px;
    vertical-align: bottom;
    text-align: center;
  }
  
  .text-box {
    font-size: 20px;
    vertical-align: bottom;
    text-align: center;
  }
  
  .text {
    text-align: center;
    color: white;
    font-size: 50px;
    
  }