<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='Index.css') }}" />
</head>
<body>
    <nav>
        <ul>
          <li> 
            <!-- link one -->
            <a href="schedule"> Schedule </a>
          </li>
          <li>
            <!-- link two -->
             <a href="settings"> Settings </a>
          </li>
          <li>
            <!-- link four -->
            <a href="{{ url_for('logout') }}"> Logout </a>
          </li>
        </ul>
      </nav>

  <h2 class="text">Reminder Setting</h2><br><br>

  <form action="{{ url_for('changesettings') }}"">

    <label class="text-small">Number of minutes before end:</label>
      <legend>Selecting elements</legend>
      <select class="text-box" id = "drop">
        <option value = "1">5 Minutes</option>
        <option value = "2">10 Minutes</option>
        <option value = "3">15 Minutes</option>
        <option value = "4">20 Minutes</option>
        <option value = "5">25 Minutes</option>
        <option value = "6">30 Minutes</option>
        <option value = "7">35 Minutes</option>
        <option value = "8">40 Minutes</option>
        <option value = "9">45 Minutes</option>
        <option value = "10">50 Minutes</option>
        <option value = "11">55 Minutes</option>
      </select>
    <br><br>



    <label class="switch">
      <input type="checkbox" id="slidero">
      <span class="slider"></span>
    </label><label class="text-small">   Text</label><br><br>


    <label class="switch">
      <input type="checkbox" id="slidert">
      <span class="slider"></span>
    </label><label class="text-small">   Email</label>
    <br><br><br>


    <button onclick="saveCookies()" class="text-box">Save</button>
    <br><br>
  </form>
</body>
</html> 
