<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='login.css') }}" />
<body>
    <h1 class="text">Login</h1>
    <br><br><br><br><br>
    <label class="text-small">Phone Number:</label>
    <input class="text-box" type="text" id="phone">
    <br><br>

    <label class="text-small">Email:</label>
    <input class="text-box" type="text" id="email">
    <br><br>

    <label class="text-small">Username:</label>
    <input class="text-box" type="text" id="username">
    <br><br>

    <label class="text-small">Password:</label>
    <input class="text-box" type="text" id="Password">
    <br><br>
</body>
</body>
</head>
</html>